{% extends 'layout.html' %}

{% block content %}
      <div id="cta">
        <h1 style="color: white; font-size: 72px;" class="leading-none">UniGAN</h1>
        <h3 style="color: white; font-size: 18px;">Reducing gender bias in product design</h3>
        <img class="displayed mt-4" src="/static/img/zappos_shoe.jpeg"><br>
        <a href="/unigan" class="tryit_button">Try it!</a>
      </div>
      <div class="blurbs">
        <div class="blurb_box w-1/3">
          <i class="fa fa-recycle mb-2" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="text-2xl font-semibold mb-4">Reduce waste</h2>
          <p>Corporate clothing waste totaled over 90 million tons in 2019. Cut down pollution with unisex designs.</p>
        </div>
        <div class="blurb_box w-1/3">
          <i class="fa fa-diamond mb-2" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="text-2xl font-semibold mb-4">Meet consumer taste</h2>
          <p>Consumer tastes have changed: buyers don't want to be identified by gender. Cater to your customer's gender-neutral preferences.</p>
        </div>
        <div class="blurb_box w-1/3">
          <i class="fa fa-rocket mb-2" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="text-2xl font-semibold mb-4">Revolutionize design</h2>
          <p>Product designers bring human biases into their designs. Draw unbiased inspiration from gender-neutral designs.</p>
        </div>
      </div>
      <div class="details">
        <div class="details_box">
          <h2 class="text-2xl font-semibold text-white mb-8">UniGAN is the world's first AI product built for gender inclusivity</h2>
          <p class="text-white">
            Developed specifically for footwear designers, UniGAN leverages machine learning technology 
            to combat gender bias at the origin of product development. Inclusivity is a win-win for consumers and 
            businesses alike. Consumers express their gender as they see fit; brands 
            reduce inventory and corporate waste.
          </p>
        </div>
      </div>
{% endblock %}
