<html> 
<div id="container">
  <head>
    <title>UniGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- <link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="inactive" href="/what_is_unigan">What is UniGAN?</a>
    <a class="inactive" href="/how_it_works">How it works</a>
    <a class="inactive" href="/team">Team</a>
    <a class="inactive" href="/unigan">Try it!</a>
  </div> 

  <div id="body">
  <body>
      <!-- <h1>Functioning form submission</h1>

      <form action="/" method="POST">
        <input type="text" name="submission">
        <input type="submit" value="Predict"> 
        <p>Model input: {{ input }}</p>
        <p>Model output: {{ output }}</p>
      </form> -->
      <div id="cta">
        <h1 style="color: white; font-size: 72px;">UniGAN</h1>
        <h3 style="color: white; font-size: 28px;">Reducing gender bias in product design</h3>
        <img class="displayed" src="/static/img/zappos_shoe.jpeg"><br>
        <!-- <h3 style="color: white; font-size: 28px;">Generate unisex products in seconds️</h3> -->
        <a href="/unigan" class="tryit_button" style="margin-top: 3rem;">Try it!</a>
      </div>
      <div class="blurbs">
        <div class="blurb_box">
          <i class="fa fa-recycle" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="h2_standout">Reduce waste</h2>
          <p>Corporate clothing waste totaled over 90 million tons in 2019. Cut down pollution with unisex designs.</p>
        </div>
        <div class="blurb_box">
          <i class="fa fa-diamond" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="h2_standout">Meet consumer taste</h2>
          <p>Consumer tastes have changed: buyers don't want to be identified by gender. Cater to your customer's gender-neutral preferences.</p>
        </div>
        <div class="blurb_box">
          <i class="fa fa-rocket" aria-hidden="true" style="font-size:48px; color: gray;"></i>
          <h2 class="h2_standout">Revolutionize design</h2>
          <p>Product designers bring human biases into their designs. Draw unbiased inspiration from gender-neutral designs.</p>
        </div>
      </div>
      <div class="details">
        <div class="details_box">
          <h2 class="h2_standout" style="color: white;">UniGAN is the world's first AI product built for gender inclusivity</h2>
          <p style="color: white;">
            Developed specifically for footwear designers, UniGAN leverages machine learning technology 
            to combat gender bias at the origin of product development. Inclusivity is a win-win for consumers and 
            businesses alike. Consumers express their gender as they see fit; brands 
            reduce inventory and corporate waste.
          </p>
          <!-- <a href="/unigan" class="tryit_button_orange" style="text-align: center;">Try it!</a> -->
        </div>

      </div>

  </body>
  </div>

</div>

</html>
