    <div class="topnav">
      <a {% if 'home' in nav_active %} class="active" {% endif %} href="/">Home</a>
      <a {% if 'what_is_unigan' in nav_active %} class="active" {% endif %} href="/what_is_unigan">What is UniGAN?</a>        
      <a {% if 'how_it_works' in nav_active %} class="active" {% endif %} href="/how_it_works">How it works</a>
      <a {% if 'team' in nav_active %} class="active" {% endif %} href="/team">Team</a>
      <a {% if 'unigan' in nav_active %} class="active" {% endif %} href="/unigan">Try it!</a>
      <img src="/static/img/unigan_logo.png" width="64" class="float-right mr-2 p-2"/>
    </div> 

