<html> 
<div id="container">
  <head>
    <title>UniGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="http://unigan.io/static/img/favicon.ico" type="image/x-icon"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <body>
      <div class="topnav">
        <a class="inactive" href="/">Home</a>
        <a class="inactive" href="/what_is_unigan">What is UniGAN?</a>        
        <a class="inactive" href="/how_it_works">How it works</a>
        <a class="active" href="/team">Team</a>
        <a class="inactive" href="/unigan">Try it!</a>
        <img src="/static/img/unigan_logo.png" width="64" class="float-right mr-2 p-2"/>
      </div> 
     
      <div id="cta" style="padding-top: 5rem; padding-bottom: 5rem;">
          <h1 style="font-size: 72px; color: white;">Meet the team</h1>
      </div>
      <div id="copy" class="flex justify-center">
              <table style="width: 80%;">
                <tr>
                  <td style="padding: 50px;">
                    <img src="{{ url_for('static',filename='img/alex_headshot.jpg') }}" class="headshots" style="box-shadow: #21468b 15px 15px;">
                  </td>
                  <td>
                    <h1 class="text-3xl">Alex Mueller</h1><br />
		    Alex loves to work on hard problems. He's also a really serious runner, even at high altitudes.
                  </td>
                </tr>
                <tr>
                    <td style="padding: 50px;">
                      <img src="{{ url_for('static',filename='img/kevin_headshot.jpg') }}" class="headshots" style="box-shadow: #21468b 15px 15px;">
                    </td>
                    <td>
                      <h1 class="text-3xl">Kevin Stone</h1><br />
		      Kevin is an avid cyclist and hearty Oregonian. 
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 50px;">
                      <img src="{{ url_for('static',filename='img/keenan_headshot.jpg') }}" class="headshots" style="box-shadow: #21468b 15px 15px;">
                    </td>
                    <td>
		      <h1 class="text-3xl">Keenan Szulik</h1><br />
                      Keenan is the third member of the group. Enough said.
                    </td>
                  </tr>
        
          </table>
        </div>
  </body>
</html>
