<html> 
<div id="container">
  <head>
    <title>UniGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <div class="topnav">
    <a class="inactive" href="/">Home</a>
    <a class="inactive" href="/what_is_unigan">What is UniGAN?</a>        
    <a class="inactive" href="/how_it_works">How it works</a>
    <a class="inactive" href="/team">Team</a>
    <a class="active" href="/unigan">Try it!</a>
  </div> 

  <body>
    <div id="body">
      Click Image to Transform:
      <div>
        <a href="/unigan?img_url=http://unigan.io/static/input_images/sample_shoe1.jpg" class="bg-blue-300 p-2 inline-block">
  	  <img src="http://unigan.io/static/input_images/sample_shoe1.jpg" />
        </a>
        <a href="/unigan?img_url=http://unigan.io/static/input_images/sample_shoe2.jpg" class="bg-blue-300 p-2 inline-block">
  	  <img src="http://unigan.io/static/input_images/sample_shoe2.jpg" />
        </a>
        <a href="/unigan?img_url=http://unigan.io/static/input_images/sample_shoe3.jpg" class="bg-blue-300 p-2 inline-block">
  	  <img src="http://unigan.io/static/input_images/sample_shoe3.jpg" />
        </a>
        <a href="/unigan?img_url=http://unigan.io/static/input_images/sample_shoe4.jpg" class="bg-blue-300 p-2 inline-block">
  	  <img src="http://unigan.io/static/input_images/sample_shoe4.jpg" />
        </a>
        <a href="/unigan?img_url=http://unigan.io/static/input_images/sample_shoe5.jpg" class="bg-blue-300 p-2 inline-block">
  	  <img src="http://unigan.io/static/input_images/sample_shoe5.jpg" />
        </a>
      </div>
      <p>
	-- OR --
      </p>
      
      <form action="/unigan" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" value="Upload">
	<input type="submit" value="Transform image">
      </form>
      <div class="mt-3 pt-3 border-t-4 border-blue-300">
      <!-- <div class="try_it_button">Transform image</div> -->

	<p>Submission input:</p>
	<img src= "{{ input }}?num={{ rand_num }}">
	<p>Submission output:</p>
	<img src= "{{ output }}?num={{ rand_num }}">
      </div>
    </div>
  </body>

</html>
