{% extends 'layout.html' %}

{% block css %}
    <style>
      .shoe, .result {
      position: relative;
      }
      
      .shoe.selected {
      background-color:#fd8738;
      }

      .shoe img {
      width: 96px;
      }

      .shoe a, .result a {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      }

      .shoe:hover a, .result:hover a {
      display: block;
      }
      
      #forms {
      min-height: 400px;
      }

      .modal {
      background-color: rgba(0,0,0,0.5)
      }
    </style>
{% endblock %}

{% block content %}

    <div id="body" class="p-4 mt=2">
      <div id="actions">
	<span class="py-2 px-4 bg-blue-400" data-target="select">Images</span>
	<span class="py-2 px-4 bg-gray-400" data-target="upload">File Upload</span>
	<span class="py-2 px-4 bg-gray-400" data-target="upload_url">URL Upload</span>
      </div>
      <div class="flex">
      <div class="w-1/2 flex-shrink-0 md:border-r-2 border-blue-500 p-4">
      <div id="forms">
        <form id="upload" action="/unigan" method="POST" enctype="multipart/form-data" class="hidden w-full md:w-2/3">
        <input type="file" name="image" value="Upload">
        <input type="hidden" name="remote_image_url" value="">
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
  	    Select model:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="method" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="gender" {% if 'gender' in model_type %} selected {% endif %}>Gender</option>
	      <optgroup label="Slide">
                <option value="slide-Women" {% if 'slide-Women' in model_type %} selected {% endif %}>Slide-Women</option>
		<option value="slide-Men" {% if 'slide-Men' in model_type %} selected {% endif %}>Slide-Men</option>
		<option value="slide-Ankles" {% if 'slide-Ankles' in model_type %} selected {% endif %}>Slide-Ankles</option>
		<option value="slide-Athletics" {% if 'slide-Athletics' in model_type %} selected {% endif %}>Slide-Athletics</option>
		<option value="slide-Boots" {% if 'slide-Boots' in model_type %} selected {% endif %}>Slide-Boots</option>
		<option value="slide-Flats" {% if 'slide-Flats' in model_type %} selected {% endif %}>Slide-Flats</option>
		<option value="slide-Heels" {% if 'slide-Heels' in model_type %} selected {% endif %}>Slide-Heels</option>
	      </optgroup>
              <option value="category" {% if 'category' in model_type %} selected {% endif %}>Category</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select gender:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="gender" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="unisex">Unisex</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select shoe type:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="shoe_type" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="ankle">Ankle</option>
              <option value="athletic">Athletic</option>
              <option value="boot">Boot</option>
              <option value="flat">Flat</option>
              <option value="heel">Heel</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
        <input class="mt-2 text-white" style="background-color:#fd8738" type="submit" value="Transform Image">
        </form>

        <form id="upload_url" action="/unigan" method="POST" enctype="multipart/form-data" class="hidden w-full md:w-2/3">

        <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" type="url" name="remote_image_url" value="" placeholder="Enter Image URL">
	
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
  	    Select model:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="method" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="gender" {% if 'gender' in model_type %} selected {% endif %}>Gender</option>
	      <optgroup label="Slide">
                <option value="slide-Women" {% if 'slide-Women' in model_type %} selected {% endif %}>Slide-Women</option>
		<option value="slide-Men" {% if 'slide-Men' in model_type %} selected {% endif %}>Slide-Men</option>
		<option value="slide-Ankles" {% if 'slide-Ankles' in model_type %} selected {% endif %}>Slide-Ankles</option>
		<option value="slide-Athletics" {% if 'slide-Athletics' in model_type %} selected {% endif %}>Slide-Athletics</option>
		<option value="slide-Boots" {% if 'slide-Boots' in model_type %} selected {% endif %}>Slide-Boots</option>
		<option value="slide-Flats" {% if 'slide-Flats' in model_type %} selected {% endif %}>Slide-Flats</option>
		<option value="slide-Heels" {% if 'slide-Heels' in model_type %} selected {% endif %}>Slide-Heels</option>
	      </optgroup>
              <option value="category" {% if 'category' in model_type %} selected {% endif %}>Category</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select gender:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="gender" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="unisex">Unisex</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select shoe type:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="shoe_type" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="ankle">Ankle</option>
              <option value="athletic">Athletic</option>
              <option value="boot">Boot</option>
              <option value="flat">Flat</option>
              <option value="heel">Heel</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
        <input class="mt-2 text-white" style="background-color:#fd8738" type="submit" value="Transform Image">
        </form>
	
        <form id="select" method="GET" action="/unigan">
  	
        <p class="mt-2">
            Sample Images
  	</p>
  	<input type="hidden" name="image_url" id="shoe_value" value="{{ last_image }}"/>
        <ul>
          {% for image in images %}
          <li class="shoe bg-blue-300 p-1 inline-block {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
            <img src="http://unigan.io/static/input_images/{{ image }}" />
          </li>
          {% endfor %}
        </ul>
	{% if my_images %}
	<ul>My Images</ul>
	{% endif %}
        <ul>
          {% for image in my_images %}
          <li class="shoe bg-blue-300 p-1 inline-block {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
            <img src="https://w210-capstone-project.s3.us-east-2.amazonaws.com/{{ image }}" />
	    <a class="text-white p-1 bg-red-500 border rounded hover:bg-red-800" href="/delete_image?image={{ image }}">
	      <i class="fa fa-trash" aria-hidden="true"></i>
	    </a>
          </li>
          {% endfor %}
  	</ul>
	  <label class="block mt-2">
  	  Select model:
            <div class="inline-block relative w-48 ml-2">
              <select name="method" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                 <option value="gender" {% if 'gender' in model_type %} selected {% endif %}>Gender</option>
	         <optgroup label="Slide">
                   <option value="slide-Women" {% if 'slide-Women' in model_type %} selected {% endif %}>Slide-Women</option>
                   <option value="slide-Men" {% if 'slide-Men' in model_type %} selected {% endif %}>Slide-Men</option>
		   <option value="slide-Ankles" {% if 'slide-Ankles' in model_type %} selected {% endif %}>Slide-Ankles</option>
		   <option value="slide-Athletics" {% if 'slide-Athletics' in model_type %} selected {% endif %}>Slide-Athletics</option>
		   <option value="slide-Boots" {% if 'slide-Boots' in model_type %} selected {% endif %}>Slide-Boots</option>
		   <option value="slide-Flats" {% if 'slide-Flats' in model_type %} selected {% endif %}>Slide-Flats</option>
                   <option value="slide-Heels" {% if 'slide-Heels' in model_type %} selected {% endif %}>Slide-Heels</option>
	         </optgroup>
                 <option value="category" {% if 'category' in model_type %} selected {% endif %}>Category</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
  	</label>
  	<p></p>
        <input class="mt-2 text-white" style="background-color:#fd8738" type="submit" value="Transform Image">
        </form>
      </div>
      </div>
      <div class="w-1/2 flex-shrink-0 p-4">
        <p class="mt-2">
            Generated Images
  	</p>
        <ul>
          {% for image in gen_images %}
          <li class="shoe bg-blue-300 p-1 inline-block {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
            <img src="https://w210-capstone-project.s3.us-east-2.amazonaws.com/{{ image }}" />
	    <a class="text-white p-1 bg-red-500 border rounded hover:bg-red-800" href="/delete_image?image={{ image }}">
	      <i class="fa fa-trash" aria-hidden="true"></i>
	    </a>
          </li>
          {% endfor %}
  	</ul>
      </div>
      </div>

      <div class="mt-3 pt-3 border-t-4 border-blue-300">
        <ul>
          {% for image in output_list %}
          <li class="inline-block text-center align-top">
	    <div class="result bg-blue-300 p-1 {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
              <img src="http://unigan.io/{{ image }}" />
	      <a class="text-white p-1 border rounded bg-orange-300 hover:bg-orange-500 cursor-pointer">
	        <i class="fa fa-floppy-o" aria-hidden="true"></i>
	      </a>
	    </div>
	    <span class="mt-2">{{ labels[loop.index - 1] }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="modal hidden fixed inset-0 z-50 flex items-center">
      <div class="w-1/3 bg-white rounded-md m-auto p-10 relative">
	<span class="close absolute top-0 right-0 mt-2 mr-2 cursor-pointer"><i class="fa fa-times"></i></span>
        <form id="save_image" action="/save_image" method="POST" class="w-full">
        <input type="hidden" id="save_image_url" name="image_url">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="image_filename" value="" placeholder="Enter Filename of Image">
	
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select gender:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="gender" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="unisex">Unisex</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
  	<label class="flex mt-2">
	  <div class="w-1/3 text-right p-2">
            Select shoe type:
	  </div>
          <div class="inline-block relative flex-grow">
            <select name="shoe_type" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="ankle">Ankle</option>
              <option value="athletic">Athletic</option>
              <option value="boot">Boot</option>
              <option value="flat">Flat</option>
              <option value="heel">Heel</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
  	</label>
	<div class="text-right">
	  <span class="close cursor-pointer mr-2">Cancel</span>
          <input class="mt-2 text-white" style="background-color:#fd8738" type="submit" value="Save Image">
	</div>
        </form>
	
      </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/unigan.js') }}"></script>
{% endblock %}

