{% extends 'layout.html' %}

{% block css %}
    <style>
      .shoe, .result {
      position: relative;
      }
      
      .shoe.selected {
      background-color:#fd8738;
      }

      .shoe img {
      width: 96px;
      }

      .shoe a, .result a {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      }

      .shoe:hover a, .result:hover a {
      display: block;
      }
      
      #forms {
      min-height: 400px;
      }

      .modal {
      background-color: rgba(0,0,0,0.5)
      }
    </style>
{% endblock %}

{% block content %}

    <div id="body" class="p-4 mt=2">
      <div id="actions">
	<span class="py-2 px-4 bg-blue-400" data-target="select">Images</span>
	<span class="py-2 px-4 bg-gray-400" data-target="upload">Upload</span>
      </div>
      <div class="flex">
      <div class="w-1/2 flex-shrink-0 md:border-r-2 border-blue-500 p-4">
      <div id="forms">
	{% include 'form_select_image.html' %}
	{% include 'form_upload.html' %}
      </div>
      </div>
      <div class="w-1/2 flex-shrink-0 p-4">
	{% if my_images %}
	<ul>Uploaded Images</ul>
	{% endif %}
        <ul>
          {% for image in my_images %}
          <li class="shoe bg-blue-300 p-1 inline-block {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
            <img src="https://w210-capstone-project.s3.us-east-2.amazonaws.com/{{ image }}" />
	    <a class="text-white p-1 bg-red-500 border rounded hover:bg-red-800" href="/delete_image?image={{ image }}">
	      <i class="fa fa-trash" aria-hidden="true"></i>
	    </a>
          </li>
          {% endfor %}
  	</ul>
        <p class="mt-2">
            Generated Images
  	</p>
        <ul>
          {% for image in gen_images %}
          <li class="shoe bg-blue-300 p-1 inline-block {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
            <img src="https://w210-capstone-project.s3.us-east-2.amazonaws.com/{{ image }}" />
	    <a class="text-white p-1 bg-red-500 border rounded hover:bg-red-800" href="/delete_image?image={{ image }}">
	      <i class="fa fa-trash" aria-hidden="true"></i>
	    </a>
          </li>
          {% endfor %}
  	</ul>
      </div>
      </div>

      <div class="mt-3 pt-3 border-t-4 border-blue-300">
        <ul>
          {% for image in output_list %}
          <li class="inline-block text-center align-top">
	    <div class="result bg-blue-300 p-1 {% if image == last_image %} selected {% endif %}>" data-value="{{ image }}">
              <img src="http://unigan.io/{{ image }}" />
	      <a class="text-white p-1 border rounded bg-orange-300 hover:bg-orange-500 cursor-pointer">
	        <i class="fa fa-floppy-o" aria-hidden="true"></i>
	      </a>
	    </div>
	    <span class="mt-2">{{ labels[loop.index - 1] }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% include 'save_generated_image.html' %}
    
    <script src="{{ url_for('static', filename='js/unigan.js') }}"></script>
{% endblock %}

