<html> 
<div id="container">
    <head>
        <title>UniGAN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/what_is_unigan">What is UniGAN?</a>
        <a href="/how_it_works">How it works</a>
        <a href="/team">Team</a>
        <a href="/unigan">Try it!</a>
      </div> 

    <div id="body">
    <body>
        <h1>What is UniGAN?</h1>
        <p>
            UniGAN was built in 2020 to solve two problems: <br /><br />
            1) Consumers want traditionally-gendered products to reflect the gender fluid world that they now live in. <br>
            2) Corporations produce millions of tons of clothing waste each year, driven by many SKU’s and product lines.
        </p>
        <h4>
            Enter UniGAN, the world's first SOMETHING product.
        </h4>
        <p>
            Built for product designers and developers, UniGAN leverages cutting edge machine learning technology 
            to combat gender bias at the origin of product development. Inclusivity is a win-win for consumers and 
            corporations alike. Consumers express their gender as they see fit; companies 
            reduce inventory and corporate waste.
        </p>
        <p>
            UniGAN is part of a larger effort to make consumer products inclusive and accessible first and foremost. 
            By beginning with unisex design, product developers will help decrease toxic gender norms 
            while also fighting corporate waste.
        </p>
    </body>
    </div>

</div>
</html>
